name: pre-commit

on:
  push:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '14'
        cache-dependency-path: "frontend/yarn.lock"
        cache: 'yarn'
    - run: cd frontend && yarn install
    - uses: pre-commit/action@v2.0.0
