[tool.poetry]
name = "{{ cookiecutter.project_slug }}-backend"
version = "0.1.0"
description = ""
authors = []

[tool.poetry.dependencies]
python = "^3.7"
fastapi = "^0.75.2"
uvicorn = "^0.17.6"
pydantic = "^1.9.0"
requests = "^2.27.1"
alembic = "^1.7.7"
psycopg2-binary = "^2.9.3"
fastapi-users = {extras = ["sqlalchemy2"], version = "^10.0.3"}
asyncpg = "^0.25.0"
SQLAlchemy = "^1.4.35"
databases = "^0.5.5"

[tool.poetry.dev-dependencies]
black = "^22.3.0"
pytest = "^7.1.1"
ipython = "^7.32.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.cruft]
skip = [".env"]
