[tool.poetry]
name = "{{ cookiecutter.project_slug }}-backend"
version = "0.1.0"
description = ""
authors = []

[tool.poetry.dependencies]
python = "^3.7"
fastapi = "^0.68.2"
uvicorn = "^0.15.0"
pydantic = "^1.8.2"
requests = "^2.26.0"
alembic = "^1.7.4"
psycopg2-binary = "^2.9.1"
fastapi-users = {extras = ["sqlalchemy"], version = "^8.1.2"}
asyncpg = "^0.24.0"
SQLAlchemy = "^1.4.25"

[tool.poetry.dev-dependencies]
black = "^21.9b0"
pytest = "^6.2.4"
ipython = "^7.29.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
