name: Cookie cutter test

on: [workflow_dispatch, push]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      COMPOSE_DOCKER_CLI_BUILD: 1

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'
        cache: 'poetry'

    - name: Install cookiecutter
      run: |
        pip3 install cookiecutter

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16'
        cache-dependency-path: '{{cookiecutter.project_slug}}/frontend/yarn.lock'
        cache: 'yarn'

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Run test script
      run: |
        sh -x scripts/test.sh

    - name: Log docker status
      if: ${{ always() }}
      run: |
        cd ./test-project
        docker-compose logs -t

    - name: Archive cypress screenshots
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: cypress-screenshots
        path: |
          test-project/frontend/cypress/
